name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust stable toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        
      - name: Publish to crates.io
        uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
